* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  /* text-transform: capitalize; */
}

.bttb {
  border: 1px solid black;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100px;
  display: flex;
  height: 40px;
  right: 10px;
  bottom: 10px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.bttb a {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.header ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
  align-items: center;
}

.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 11px;
  font-weight: 300;
  text-transform: capitalize;
}

.header img {
  width: 108px;
  height: 23px;
}

.nav {
  display: flex;
}

.action {
  display: flex;
  gap: 15px;
  align-items: center;
}

.action a {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.action ul li img {
  width: 20px;
  height: 20px;
}

.contaner {
  background-color: rgb(4, 4, 43);
  width: 100%;
  height: 500px;
  display: flex;
}

.bannertop {
  background-image: url(../images/bannertop.webp);
  border-radius: 20px;
  background-size: cover;
  position: relative;
  margin: 100px;
  width: 400px;
  height: 300px;
  margin-left: 800px;
}

.texttop {
  position: absolute;
  margin: 100px;
  color: white;
}

.ptop {
  position: absolute;
  margin: 100px;
  margin-top: 180px;
  width: 500px;
  color: white;
}

.bottop {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  width: 100px;
  height: 50px;
  margin: 100px;
  margin-top: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.blank {
  height: 50px;
}

.questionbox {
  border: 1px solid blue;
  width: 75%;
  height: 250px;
  margin: auto;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #0a6ab9, #013967, #1f5187);
}

.qboxcontent {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 40px 150px 30px 150px;
}

.qboxcontent p {
  font-size: xx-large;
  color: white;
}

.qboxcontent form {
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 5px;
  margin-top: 10px;
  align-items: center;
  border-bottom: 3px solid blue;
  outline: 1px solid white;
}

.qboxcontent form input {
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: large;
}

.qboxcontent ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 5px;
  margin-top: 20px;
}

.qboxcontent ul li {
  background-color: rgb(0, 103, 184);
  height: 40px;
  border-radius: 20px;
  border: white solid 1px;
  color: white;
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qboxcontent form img {
  width: 35px;
  height: 20px;
  padding-right: 15px;
}

.afterqb {
  width: 85%;
  height: 100px;
  margin: auto;
  display: flex;
  gap: 20px;
}

.afterqb ul {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.afterqb ul a {
  text-decoration: underline;
  color: #013967;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.afterqb ul img {
  width: 30px;
  height: 30px;
}

.cards {
  width: 90%;
  display: flex;
  margin: auto;
  gap: 10px;
}

.card01 {
  width: 100%;
  height: 500px;
  display: flex;
  border: 1px solid rgb(192, 192, 192);
  background-color: white;
  border-radius: 20px;
}

.cardtext {
  margin: 20px 8px 30px 8px;
  font-size: small;
  color: #616161;
}

.cardtext h2 {
  color: black;
  margin-bottom: 10px;
}

.cards img {
  width: 90%;
  border-radius: 20px;
  margin: 15px;
}

.cardbottun {
  border: 1px solid black;
  height: 30px;
  border-radius: 5px;
  margin: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.cardbottun01 {
  width: 250px;
  margin-top: 150px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun02 {
  width: 200px;
  margin-top: 100px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun03 {
  width: 200px;
  background-color: white;
  color: gray;
}

.cardbottun04 {
  width: 200px;
  margin-top: 70px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun05 {
  width: 200px;
  background-color: white;
  color: gray;
}

.cardbottun06 {
  width: 100px;
  margin-top: 170px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun p {
  margin: auto;
}

.cardbanner {
  width: 95%;
  display: flex;
  margin: auto;
  border: 1px solid gray;
  border-radius: 20px;
}

.cardbannertext {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.cardbannertext p {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.cardbannerimg {
  width: 40%;
  display: flex;
}

.cardbannerimg img {
  width: 100%;
  display: flex;
  margin: 10px;
  margin-left: 205px;
  border-radius: 20px;
}

.cardbannerbottun {
  width: 150px;
  height: 35px;
  display: flex;
  margin-top: 270px;
  justify-content: center;
}

.cardssuggestion {
  width: 100%;
  height: 1350px;
  background-color: #dceef8;
}

.naw5g {
  border: 1px solid black;
  border-radius: 5px;
  width: 190px;
  height: 25px;
  margin: 10px auto;
  margin-left: 10px;
  text-align: center;
  align-content: center;
  background-color: rgb(224, 214, 202);
}

.cstittle {
  width: 900px;
  height: 100px;
  padding-top: 60px;
  margin: 70px 0 0 70px;
}

.cardbottun07 {
  width: 100px;
  margin-top: 60px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun08 {
  width: 100px;
  margin-top: 170px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun09 {
  width: 190px;
  margin-top: 140px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun10 {
  width: 100px;
  margin-top: 170px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun11 {
  width: 100px;
  margin-top: 70px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun12 {
  width: 100px;
  margin-top: 80px;
  background-color: #0a6ab9;
  color: white;
}

.cardbottun13 {
  width: 100px;
  margin-top: 80px;
  background-color: #0a6ab9;
  color: white;
}

.socialmediaimg {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
}

.socialmediaimg img {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  margin: auto;
}

.socialmedia h2 {
  font-size: small;
  text-align: center;
}

.footer {
  width: 100%;
  height: 55vh;
  background-color: rgb(201, 199, 199);
  /* display: flex; */
  /* justify-content: space-between; */
  padding: 80px;
}

.titledetaillist {
  width: 100%;
  /* height: 400px; */
  background-color: rgb(201, 199, 199);
  display: flex;
  justify-content: space-between;
  /* padding: 80px; */
  padding-bottom: 20px;
}

.titledetaillist ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  font-size: 11px;
  font-weight: 100;
}

.titledetaillist a {
  color: #616161;
}

.titledetaillist h1 {
  font-size: 15px;
}

.underfooter1 img {
  width: 18px;
  height: 18px;
}

.underfooter1 ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 10px;
  font-size: 11px;
  font-weight: 100;
}

.underfooter1 h1 {
  font-size: 15px;
}

.underfooter1 a {
  color: #616161;
}

.underfooter2 img {
  width: 18px;
  height: 18px;
}

.underfooter2 ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  gap: 10px;
  font-size: 11px;
  font-weight: 100;
}

.underfooter2 a {
  color: #616161;
}

.underfooter2 h1 {
  font-size: 15px;
}
