* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
ul {
  list-style: none !important;
}
a {
  text-decoration: none !important;
}
@media all and (min-width: 992px) {
  .header {
    background-image: url(../images/header-back.png);
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    > ul {
      display: flex;
      width: 50%;
      height: 100px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-top: 30px;
      > li {
        padding-left: 10px;
        border-left: 1px solid white;
        > a {
          color: white;
        }
      }
      > .nagire {
        border: unset !important;
      }
    }
  }
  .logo {
    position: relative;
    img {
      position: absolute;
      top: 50%;
    }
  }
}
@media all and (min-width: 576px) and (max-width: 991.9px) {
  .header {
    background-image: url(../images/header-back.png);
    height: 25vh;
    > ul {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;
      > li {
        padding-left: 10px;
        > a {
          color: white;
        }
      }
    }
    > .logo {
      text-align: center;
      padding: 10px;
    }
  }
}
@media all and (max-width: 575.9px) {
  input:checked ~ ul {
    display: flex;
  }
  .header {
    background-image: url(../images/header-back.png);
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    input {
      display: none;
    }
    > label {
      img {
        width: 25px;
      }
    }
    > ul {
      display: none;
      background-color: rgb(48, 48, 48);
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: end;
      padding-right: 16px;
      gap: 10px;
      > li {
        padding-left: 10px;
        > a {
          color: white;
        }
      }
    }
    > .logo {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 10px;
    }
  }
}
