* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* text-transform: capitalize; */
}

.bttb {
    border: 1px solid black;
    background-color: gray;
    position: fixed;
    width: 100px;
    display: flex;
    height: 40px;
    right: 10px;
    bottom: 10px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.bttb a {
    color: white;
}

.header a {
    text-decoration: none;
    color: black;
}


.header ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    align-items: center;
}

.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 11px;
    font-weight: 300;
    text-transform: capitalize;
}

.header img {
    width: 108px;
    height: 23px;
}

.nav {
    display: flex;
}

.action {
    display: flex;
    gap: 15px;
    align-items: center;
}

.action a {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.action ul li img {
    width: 20px;
    height: 20px;
}

.contaner {
    background-color: #ece8f6;
    width: 100%;
    height: 250px;
    display: flex;
    position: relative;
}

.bannertop {
    background-image: url(../images/Sitemap-img.webp);
    background-size: cover;
    position: absolute;
    width: 400px;
    height: 100%;
    right: 0;
}

.texttop {
    position: absolute;
    margin: 100px;
    font-size: large;
}

.shortcutlist ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style-type: none;
    /* position: fixed; */
    gap: 15px;
    margin: 10px;
    align-items: center;
}

.shortcutlist a {
    text-decoration: none;
    color: #0067b8;
}

.blank {
    height: 50px;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 50px;
}

.list ul {
    width: 300px;
    list-style-type: none;
    /* background-color: aqua; */
    margin-left: 80px;
}

.list li {
    padding: 10px;
}

.list h2 {
    color: black;
}
.list a {
    text-decoration: underline;
    color: #0067b8;
}

















.footer {
    width: 100%;
    height: 55vh;
    background-color: rgb(201, 199, 199);
    padding: 80px;
}

.footer a {
    text-decoration: none;
    color: black;
}

.titledetaillist {
    width: 100%;
    background-color: rgb(201, 199, 199);
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.titledetaillist ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    font-size: 11px;
    font-weight: 100;
}

.titledetaillist a {
    color: #616161;
}

.titledetaillist h1 {
    font-size: 15px;
}

.underfooter1 img {
    width: 18px;
    height: 18px;
}

.underfooter1 ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    font-size: 11px;
    font-weight: 100;
}

.underfooter1 h1 {
    font-size: 15px;
}

.underfooter1 a {
    color: #616161;
}

.underfooter2 img {
    width: 18px;
    height: 18px;
}

.underfooter2 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 10px;
    font-size: 11px;
    font-weight: 100;
}

.underfooter2 a {
    color: #616161;
}

.underfooter2 h1 {
    font-size: 15px;
}