* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

.line {
  border: 1px solid gray;
  height: 1px;
  width: 100%;
}

.temp {
  height: 20px;
}

.bottemp {
  height: 120px;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

.backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
}

@media all and (min-width: 992px) {
  .header {
    background-image: url(../images/header-back.png);
    display: flex;
    height: 100px;
    justify-content: space-evenly;
  }
  .header .dropdown-menu {
    background-color: black;
  }
  .header .dropdown-menu a {
    color: white;
  }
  .header .dropdown-menu a:hover {
    background-color: white;
    color: black;
  }
  .header .dropdown:hover {
    background-image: url(../images/header-back.png);
    color: white;
  }
  .header > ul {
    display: flex;
    width: 50%;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 30px;
  }
  .header > ul > li {
    padding-left: 10px;
    border-left: 1px solid white;
  }
  .header > ul > li > a {
    color: white;
  }
  .header > ul > .nagire {
    border: unset !important;
  }
  .logo {
    position: relative;
  }
  .logo img {
    position: absolute;
    top: 50%;
  }
}
@media all and (min-width: 576px) and (max-width: 991.9px) {
  .header {
    background-image: url(../images/header-back.png);
    height: 25vh;
  }
  .header .dropdown-menu {
    background-color: black;
  }
  .header .dropdown-menu a {
    color: white;
  }
  .header .dropdown-menu a:hover {
    background-color: white;
    color: black;
  }
  .header .dropdown:hover {
    background-image: url(../images/header-back.png);
    color: white;
  }
  .header > ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .header > ul > li {
    padding-left: 10px;
  }
  .header > ul > li > a {
    color: white;
  }
  .header > .logo {
    text-align: center;
    padding: 10px;
  }
}
@media all and (max-width: 575.9px) {
  input:checked ~ ul {
    display: flex;
    z-index: 1;
  }
  .header {
    background-image: url(../images/header-back.png);
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .header input {
    display: none;
  }
  .header > label img {
    width: 25px;
  }
  .header > ul {
    display: none;
    background-color: rgb(48, 48, 48);
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: end;
    padding-right: 16px;
    gap: 10px;
  }
  .header > ul > li {
    padding-left: 10px;
  }
  .header > ul > li > a {
    color: white;
  }
  .header > .logo {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
  }
}
.golestanbanner {
  overflow: hidden;
}
.golestanbanner > .row {
  background-color: #e8e8e8;
}
.golestanbanner .text {
  width: 70%;
  margin: 50px;
}
.golestanbanner .text h2,
.golestanbanner .text p,
.golestanbanner .text a {
  color: #999999;
}
.golestanbanner .text > .bottom {
  border: 1px solid gray;
  background-color: white;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}

.golestanIntroduction {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
.golestanIntroduction p {
  color: #999999;
}
.golestanIntroduction > .img {
  width: 100%;
  justify-content: center;
  gap: 1%;
}
.golestanIntroduction > .img p {
  text-align: center;
}

.product .lin101 {
  align-items: center;
}
.product .line02 {
  align-items: center;
  justify-content: space-between;
}
@media all and (max-width: 767.9px) {
  .product .content {
    width: 100%;
  }
}
@media all and (min-width: 768px) {
  .product .content {
    width: 40%;
  }
}

.socialmedia {
  width: 100%;
  text-align: center;
  background-color: #e8e8e8;
}
.socialmedia .img0001,
.socialmedia .img0002,
.socialmedia .img0003,
.socialmedia .img0004,
.socialmedia .img0005,
.socialmedia .img0006 {
  background-position: center;
  background-repeat: no-repeat;
}
.socialmedia .img0001:hover {
  background-image: url(../images/facebookhover.png);
}
.socialmedia .img0002:hover {
  background-image: url(../images/linkedinhover.png);
}
.socialmedia .img0003:hover {
  background-image: url(../images/instagramhover.png);
}
.socialmedia .img0004:hover {
  background-image: url(../images/telegramhover.png);
}
.socialmedia .img0005:hover {
  background-image: url(../images/aparathover.png);
}
.socialmedia .img0006:hover {
  background-image: url(../images/glhover.png);
}

.redline {
  width: 100%;
  height: 10px;
  background-color: red;
}

@media all and (max-width: 575.9px) {
  .footer {
    width: 100%;
    height: 250vh;
    background-image: url(../images/header-back.png);
    background-size: cover;
  }
  .footer > .footersec {
    text-align: center;
  }
  .footer > .footersec > h2 {
    color: white;
    font-size: small;
    border: 1px solid white;
    text-align: center;
    border-left: 0;
    border-right: 0;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer > .footersec > ul a {
    color: white !important;
    text-align: center;
    font-size: small;
  }
}
@media all and (min-width: 576px) {
  .footer {
    width: 100%;
    height: 70vh;
    background-image: url(../images/header-back.png);
    background-size: cover;
    padding: 0 10%;
  }
  .footer > .footersec {
    text-align: center;
  }
  .footer > .footersec > h2 {
    color: white;
    font-size: small;
    border: 1px solid white;
    text-align: center;
    border-left: 0;
    border-right: 0;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .footer > .footersec > ul a {
    color: white !important;
    text-align: start;
    font-size: small;
  }
}
.copyright {
  color: white;
  font-size: smaller;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
