* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    /* text-transform: capitalize; */
}

a {
    text-decoration: none;
    color: black;
}

.h01 {
    font-size: medium;
    font-weight: 500;
}

.h02 {
    border: 1px solid black;
    /* margin: 5px; */
    padding: 5px;
}

.header ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    align-items: center;
}

.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 11px;
    font-weight: 300;
    text-transform: capitalize;
}

.header img {
    width: 108px;
    height: 23px;
}

.nav {
    display: flex;
}

.action {
    display: flex;
    gap: 15px;
    align-items: center;
}

.action a {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.action ul li img {
    width: 20px;
    height: 20px;
}

.contaner {
    background-color: #0067b8;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.texttop {
    color: white;
    text-align: center;
    margin: auto;
}

.ptop {
    color: white;
    text-align: center;
    margin: auto;
}

.bottop {
    border: 1px solid white;
    width: 100px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.contaner a {
    color: white;
    text-align: center;
    margin: auto;
}

.bottop a {
    color: white;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.blank {
    height: 50px;
}

.cumstext h2 {
    margin-left: 100px;
    padding-bottom: 10px;
}

.cumstext p {
    margin-left: 100px;
    padding-bottom: 50px;
}

.cumsimg01 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-top: 50px;
}

.cumsimg01 a {
    width: 135px;
    height: 100px;
    display: flex;
    flex-direction: column;
    /* transition: all 300ms ease 0s; */
}

.cumsimg01 p {
    margin: auto;
    padding-top: 20px;
}

.cumsimg01 img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.cumsimg02 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-top: 50px;
    /* transition: all 300ms ease 0s; */
}

.cumsimg02 a {
    width: 135px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.cumsimg02 p {
    margin: auto;
    padding-top: 20px;
}

.cumsimg02 img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.cumsimg01 a:hover {
    box-shadow: 1px 1px 5px gray, -1px -1px 5px gray;
    width: 135px;
}

.cumsimg02 a:hover {
    /* border: 1px solid white; */
    box-shadow: 1px 1px 5px gray, -1px -1px 5px gray;
    width: 135px;
}

.cumstext02 p {
    margin-left: 100px;
    color: #0067b8;
    font-size: small;
}

.cumsh2 {
    margin: 0px 100px 40px;
    font-size: medium;
}

.cumstext03 {
    display: flex;
    width: 80%;
}

.cumstext03 h2 {
    margin-left: 100px;
    color: #0067b8;
    font-size: small;
}

.cumstext03 p {
    width: 90%;
    padding-top: 10px;
    margin-left: 100px;
    font-size: small;
}

.cumstext03 a {
    color: #0067b8;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: gray;
}

.helpfulq {
    width: 100%;
    height: 50px;
    background-color: rgb(201, 199, 199);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
}

.helpfulq button {
    margin: 5px;
    width: 30px;
    height: 30px;
    color: #616161;
}

.helpfulq button:hover {
    border: 1px solid black;
}














.footer {
    width: 100%;
    height: 55vh;
    background-color: rgb(201, 199, 199);
    padding: 80px;
}

.titledetaillist {
    width: 100%;
    background-color: rgb(201, 199, 199);
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.titledetaillist ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    font-size: 11px;
    font-weight: 100;
}

.titledetaillist a {
    color: #616161;
}

.titledetaillist h1 {
    font-size: 15px;
}

.underfooter1 img {
    width: 18px;
    height: 18px;
}

.underfooter1 ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
    font-size: 11px;
    font-weight: 100;
}

.underfooter1 h1 {
    font-size: 15px;
}

.underfooter1 a {
    color: #616161;
}

.underfooter2 img {
    width: 18px;
    height: 18px;
}

.underfooter2 ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 10px;
    font-size: 11px;
    font-weight: 100;
}

.underfooter2 a {
    color: #616161;
}

.underfooter2 h1 {
    font-size: 15px;
}