* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
$hfbackground: url(../images/header-back.png);
$color9: #999999;
$colorwhite: white;
$colorblack: black;
$colore8: #e8e8e8;
$colorred: red;
$botbannercolor01: #105153;
$botbannercolor02: #00d8df;
.line {
  border: 1px solid gray;
  height: 1px;
  width: 100%;
}
.temp {
  height: 20px;
}
.bottemp {
  height: 120px;
}
ul {
  list-style: none !important;
}
a {
  text-decoration: none !important;
}
.backtotop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: $colorwhite;
}
@media all and (min-width: 992px) {
  .header {
    background-image: $hfbackground;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    .dropdown-menu {
      background-color: $colorblack;
      a {
        color: $colorwhite;
      }
      a:hover {
        background-color: $colorwhite;
        color: $colorblack;
      }
    }
    .dropdown:hover {
      background-image: $hfbackground;
      color: $colorwhite;
    }
    > ul {
      display: flex;
      width: 50%;
      height: 100px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding-top: 30px;
      > li {
        padding-left: 10px;
        border-left: 1px solid $colorwhite;
        > a {
          color: $colorwhite;
        }
      }
      > .nagire {
        border: unset !important;
      }
    }
  }
  .logo {
    position: relative;
    img {
      position: absolute;
      top: 50%;
    }
  }
}
@media all and (min-width: 576px) and (max-width: 991.9px) {
  .header {
    background-image: $hfbackground;
    height: 25vh;
    .dropdown-menu {
      background-color: $colorblack;
      a {
        color: $colorwhite;
      }
      a:hover {
        background-color: $colorwhite;
        color: $colorblack;
      }
    }
    .dropdown:hover {
      background-image: $hfbackground;
      color: $colorwhite;
    }
    > ul {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;
      > li {
        padding-left: 10px;
        > a {
          color: $colorwhite;
        }
      }
    }
    > .logo {
      text-align: center;
      padding: 10px;
    }
  }
}
@media all and (max-width: 575.9px) {
  input:checked ~ ul {
    display: flex;
    z-index: 1;
  }
  .header {
    background-image: $hfbackground;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    input {
      display: none;
    }
    > label {
      img {
        width: 25px;
      }
    }
    > ul {
      display: none;
      background-color: rgb(48, 48, 48);
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: end;
      padding-right: 16px;
      gap: 10px;
      > li {
        padding-left: 10px;
        > a {
          color: $colorwhite;
        }
      }
    }
    > .logo {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 10px;
    }
  }
}
.golestanbanner {
  overflow: hidden;
  > .row {
    background-color: $colore8;
  }
  .text {
    width: 70%;
    margin: 50px;
    h2,
    p,
    a {
      color: $color9;
    }
    > .bottom {
      border: 1px solid gray;
      background-color: $colorwhite;
      width: 100px;
      text-align: center;
      border-radius: 5px;
    }
  }
}
.golestanIntroduction {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  p {
    color: $color9;
  }
  > .img {
    width: 100%;
    justify-content: center;
    gap: 1%;
    p {
      text-align: center;
    }
  }
}
.product {
  .lin101 {
    align-items: center;
  }
  .line02 {
    align-items: center;
    justify-content: space-between;
  }
  @media all and (max-width: 767.9px) {
    .content {
      width: 100%;
    }
  }
  @media all and (min-width: 768px) {
    .content {
      width: 40%;
    }
  }
}
// Footer
.socialmedia {
  width: 100%;
  text-align: center;
  background-color: $colore8;
  .img0001,
  .img0002,
  .img0003,
  .img0004,
  .img0005,
  .img0006 {
    background-position: center;
    background-repeat: no-repeat;
  }
  .img0001:hover {
    background-image: url(../images/facebookhover.png);
  }
  .img0002:hover {
    background-image: url(../images/linkedinhover.png);
  }
  .img0003:hover {
    background-image: url(../images/instagramhover.png);
  }
  .img0004:hover {
    background-image: url(../images/telegramhover.png);
  }
  .img0005:hover {
    background-image: url(../images/aparathover.png);
  }
  .img0006:hover {
    background-image: url(../images/glhover.png);
  }
}
.redline {
  width: 100%;
  height: 10px;
  background-color: $colorred;
}
@media all and (max-width: 575.9px) {
  .footer {
    width: 100%;
    height: 250vh;
    background-image: $hfbackground;
    background-size: cover;
    > .footersec {
      text-align: center;
      > h2 {
        color: $colorwhite;
        font-size: small;
        border: 1px solid $colorwhite;
        text-align: center;
        border-left: 0;
        border-right: 0;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      > ul a {
        color: $colorwhite !important;
        text-align: center;
        font-size: small;
      }
    }
  }
}
@media all and (min-width: 576px) {
  .footer {
    width: 100%;
    height: 70vh;
    background-image: $hfbackground;
    background-size: cover;
    padding: 0 10%;
    > .footersec {
      text-align: center;
      > h2 {
        color: $colorwhite;
        font-size: small;
        border: 1px solid $colorwhite;
        text-align: center;
        border-left: 0;
        border-right: 0;
        padding: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      > ul a {
        color: $colorwhite !important;
        text-align: start;
        font-size: small;
      }
    }
  }
}
.copyright {
  color: $colorwhite;
  font-size: smaller;
  text-align: center;
}
